* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #eef0f8;
    background-image: url('../assets/renavam-serpro-bg.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 350px;
    font-family: 'Poppins', sans-serif;
    font-size: .835rem;
}

div.modal-body form div.card-body div.form-group div.col-12 input,
div.modal-body form div.card-body div.form-group div.col-12 textarea {
    font-size: 0.835rem !important;
}