.container {
    max-width: 1140px;
}

header {

    border-bottom: 1px solid rgba(255, 255, 255, .1);

    .container {
        height: 80px;
        padding-top: 9px;
    }

    nav.navbar {
        padding: .5rem 0;

        ul.navbar-nav {
            margin-left: 1rem;

            ul.dropdown-menu li {
                margin: .5rem;
            }

            >li.nav-item {
                padding: 0 .25rem;
            }

            >li.nav-item>a.nav-link {
                border-radius: .42rem;
                color: #FFF;
                padding: .75rem 1.25rem;
            }

            >li.nav-item>a.nav-link.disabled {
                color: rgba(255, 255, 255, .8);
            }
        }
    }
}

header nav.navbar ul.navbar-nav>li.nav-item.active>a.nav-link,
header nav.navbar ul.navbar-nav>li.nav-item>a.nav-link:hover {
    background-color: rgba(255, 255, 255, .1);
}

/* Subheader */
div#sub-header {
    height: 150px;
}