.container {
    max-width: 1140px;
}

header {

    border-bottom: 1px solid rgba(255, 255, 255, .1);

    .container {
        padding-top: 9px;
    }

    nav.navbar {
        padding: .5rem 0;

        div a.dropdown-toggle {
            font-size: 1rem;
            padding: .3rem .4rem;

            &::after {
                display: none;
            }

            &:hover {
                background-color: rgba(255, 255, 255, .2);
            }
        }

        div a>span.initial {
            background-color: rgba(255, 255, 255, .2);
            border-radius: .42rem;
            height: 35px;
            line-height: 35px;
            width: 35px;
            padding: .765rem 1rem;
        }

        div.container-fluid {
            padding: 0;
        }

        ul.navbar-nav {
            margin-left: 1rem;

            ul.dropdown-menu {
                width: 95%;
                border-radius: .675rem;

                li {
                    margin: .5rem;

                    a {
                        font-size: .895rem;
                    }
                }   
            }

            >li.nav-item {
                padding: 0 .25rem;
            }

            >li.nav-item>a.nav-link {
                border-radius: .42rem;
                color: #FFF;
                padding: .75rem .4rem;
            }

            >li.nav-item>a.nav-link.disabled {
                color: rgba(255, 255, 255, .8);
            }
        }
    }
}

header nav.navbar ul.navbar-nav>li.nav-item.active>a.nav-link,
header nav.navbar ul.navbar-nav>li.nav-item>a.nav-link:hover {
    background-color: rgba(255, 255, 255, .1);
}

/* Subheader */
div#sub-header {
    height: 150px;
}